<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="/static/img/logo.png" width="50px" alt="">
        <span class="ml-3 text-xl">QARAQALPAQok</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="{% url 'home' %}" class="mr-5 hover:text-gray-900">HOME</a>
        <a href="{% url 'about' %}" class="mr-5 hover:text-gray-900">POST</a>
        <a href="{% url 'profiles' %}" class="mr-5 hover:text-gray-900">PROFILES</a>
        <a class="mr-5 hover:text-gray-900"></a>
      </nav>
    </div>
  </header>