.content{
    background-image: url('../img/shablon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;   
    }
.href{
    margin-left: 1000px;
    margin-top: -400px;
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    display: inline;
    margin-right: 10px;
}
.on{
    color: #1b541f;
}
a:hover{
    color: #1b541f;
}
.logo{
    margin-left: 200px;}
.shrift{
    margin-left: 850px;
    padding-top: 300px;
    font-family: fantasy;
    font-size: 30px;
}
#p{
    width: 200px;
}
#pe{
    margin-top: -30px;
}
.four{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.five{
    margin-left: 120px;
    width: 350px;
    font-size: 10px;
}
.five img{
    margin-left: 140px;
}
.six{
    margin-left: 500px;
    width: 350px;
    font-size: 10px;
    margin-top: -133px; 
}
.six img{
    margin-left: 120px;
}
.seven{
    margin-left: 900px;
    font-size: 10px;
    width: 350px;
    margin-top: -133px;
}
.seven img{
    margin-left: 130px;
}

