{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
            <div class="lg:w-4/6 bg-gray-100 rounded-lg p-6 flex flex-col md:ml-auto-2 w-full mt-9 md:mt-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                </form>
            </div>
        </div>
    </section>   
{% endblock %}
